@{
    ViewData["Title"] = "Formulario";
}

<h1>Formulário de inscrição</h1>

<label>Nome:</label></br>
<input type="text" name="nome" id="idnome" placeholder="Digite seu nome!"></br></br>
<label>Endereço:</label></br>
<textarea name="Endereco" id="idendereco"  placeholder="Digite seu endereço!" cols="30" rows="10"></textarea></br></br>
<Label>E-mail:</Label></br>
<input type="email" name="e-mail" id="idemail" placeholder="Digite seu e-mail!"></br></br>
<label>Contato:</label></br>
<input type="tel" name="contato" id="idcontato" pattern="([0-9]{2})[0-9]{5}-[0-9]{4}" placeholder="Ex: (35)99999-0000"></br></br>
<button type="submit" >Salvar</button>
