@model Pessoa
@{
    ViewData["Title"] = "Dados da pessoa";
}

<h1 class="text-danger">Dados da pessoa</h1>

<p><strong>Nome:</strong> <code>@Model.Nome</code></p>
<p><strong>Endereco:</strong> <code>@Model.Endereco</code></p>
<p><strong>Email:</strong> <code>@Model.Email</code></p>
<p><strong>Contato:</strong> <code>@Model.Contato</code></p>

